body {
    background: #ffffff;
    color: #000;
    font-family: Arial, sans-serif;
    text-align: center;
}

.logo {
    width: 260px;
    margin: 20px auto;
    display: block;
}

.lema {
    color: #d60000;
    font-weight: bold;
}

.player-box {
    margin-top: 40px;
}

.play-btn {
    font-size: 40px;
    background: #d60000;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.song-title {
    color: #d60000;
    margin-top: 20px;
}

.song-genre {
    color: #000;
    font-weight: bold;
}
