body {
    margin: 0;
    background: #ffffff;
    color: #000;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
}

.logo {
    width: 180px;
    display: block;
    margin: 0 auto;
}

.lema {
    color: #c40000;
    margin-top: 5px;
}

.player-box {
    text-align: center;
    margin-top: 60px;
}

.play-btn {
    background: #ff0000;
    border: none;
    color: #fff;
    font-size: 50px;
    border-radius: 50%;
    padding: 20px 30px;
    cursor: pointer;
}

.song-title {
    margin-top: 25px;
    color: #c40000;
}

.song-genre {
    color: #000000;
    font-weight: bold;
}
